/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    overflow: hidden;
}

/* Background image grid */
.background-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    z-index: 1;
    animation: scrollUp 30s linear infinite; 
}

.background-images img {
    width: 100%;
    height: auto; 
    object-fit: contain; 
    opacity: 0.3; 
}

/* Scrolling animation */
@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%); 
    }
}

/* Login form */
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.overlay {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.overlay input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.overlay button {
    text-transform: uppercase;
    outline: 0;
    background: #097df1;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.overlay button:hover,.overlay button:active,.overlay button:focus {
    background: #005bb5;
}
